body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
background-color: #333;
color: white;
padding: 10px 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.header .logo {
display: flex;
align-items: center;
}

.header .logo a {
text-decoration: none; /* Menghapus garis bawah pada link */
color: white; /* Ganti dengan warna yang diinginkan, misalnya hitam */
}

.header .logo img {
height: 30px;
margin-right: 10px;
}

.header .nav {
display: flex;
gap: 20px;
}

.header .nav a {
color: white;
text-decoration: none;
}

.header .auth {
display: flex;
gap: 10px;
}

.header .auth a {
color: white;
text-decoration: none;
}

.hero .text {
position: absolute;
bottom: 15%;
left: 15%;
transform: translate(-10%, -20%); 
}

.hero .text h1 {
font-size: 30px;
margin: 1.5;
line-height: 1.2;
color: white; 
transition: color 0.5s ease, transform 0.5s ease;
}

.hero .text h1:hover {
color: #009C96;
transform: translateY(-5px);
}


.footer {
  background-color: #222222;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .left {
  width: 45%;
  display: flex;
  align-items: center;
  margin-left: 45px;
}

.footer .left .qr-code {
  height: 120px;
  width: 120px;
  background-color: #e0e0e0;
  margin-right: 20px;
  border-radius: 10px;
}

.footer .left .download-buttons a {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 150px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer .left .download-buttons a:hover {
  background-color: green;
  color: white;
}

.footer .right {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.footer .right .column {
  width: 45%;
  color:#009C96;
  margin-bottom: 0;
}

.footer .right h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer .right p {
  margin: 10px 0;
  font-size: 16px;
  color: white;
}

.footer .right .social-icons a {
  color: white;
  margin-right: 10px;
}

.footer .bottom {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer .bottom p, .footer .bottom a, .footer .bottom .social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: white;
}

.footer .bottom .social-icons {
  display: inline-block;
}

.banner {
  margin: 30px;
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire div */
  z-index: 0;

}

.banner h1 {
  font-size: 2em;
  color: white;
  z-index: 1;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.latest-properties {
  margin-bottom: 10px;
}

.latest-properties h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.properties {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.property {
  background-color: #fff;
  border-radius: 8px;
  width: 23%;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.property img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  background-color: #e0e0e0;
}

.availability {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.property-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.property-content h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
}

.property-content p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.property-content .price {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin: 10px 0;
}

.property-content .voucher {
  font-size: 14px;
  color: #28a745;
  display: flex;
  align-items: center;
}

.property-content .voucher i {
  margin-right: 5px;
}