  body {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      background-image: url('img/background.jpg');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }

  .header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .logo {
    display: flex;
    align-items: center;
  }

  .header .logo a {
    text-decoration: none;
    color: white;
  }

  .header .logo img {
    height: 30px;
    margin-right: 10px;
  }

  .header .nav {
    display: flex;
    gap: 20px;
  }

  .header .nav a {
    color: white;
    text-decoration: none;
  }

  .header .auth {
    display: flex;
    gap: 10px;
  }

  .header .auth a {
    color: white;
    text-decoration: none;
  }
  
  .hero .text {
    position: absolute;
    bottom: 15%;
    left: 15%;
    transform: translate(-10%, -20%); 
  }
  
  .hero .text h1 {
    font-size: 30px;
    margin: 1.5;
    line-height: 1.2;
    color: white; 
    transition: color 0.5s ease, transform 0.5s ease;
  }
  
  .hero .text h1:hover {
    color: #009C96; /* Warna saat hover */
    transform: translateY(-5px);
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 10%);
    border-radius: 50px;
    width: 90%;
    max-width: 1010px;
  }
  
  .search-bar input, .search-bar select, .search-bar button {
    padding: 10px;
    margin: 0 5px;
    border: none;
    outline: none;
  }
  
  .search-bar input[type="text"] {
    flex: 2; /* Lebar lebih besar untuk bagian lokasi */
    border-right: 1px solid #ccc;
    border-radius: 50px 0 0 50px;
  }
  
  /* Memperkecil input untuk Tanggal Masuk dan Tanggal Keluar */
  .search-bar input#checkin-date, 
  .search-bar input#checkout-date {
      flex: 0.7; /* Perkecil input tanggal */
      border-right: 1px solid #ccc;
  }
  
  .search-bar select {
    flex: 0.7;
    border-right: 1px solid #ccc;
  }
  
  .search-bar button {
    background-color: #009C96;
    color: white;
    border: none;
    cursor: pointer;
    flex: 0.8;
    border-radius: 0 50px 50px 0;
  }
  
  .search-bar i {
    margin-right: 10px;
    color: #333;
  }
  

h1 { 
    font-size: 30px; 
    text-align: center; 
    margin: 15px 10px; 
    color: #000; /* Warna teks hitam */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
}

.card {
    display: inline-block;
    width: 280px;
    height: 150px;
    margin: 35px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}

.card:hover {
    transform: translateY(-12px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 150px;
    border-radius: 9px;
}

.card .info {
    padding: 10px 0;
}

.card .info h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
    color: #333;
}

.separator {
    border: none;
    height: 2px;
    background-color: #ccc;
    margin: 50px 0; 
}